{% extends "base.html" %}

{% block content %}

    <div class="mb-3">

      <a href="{{ url_for('recipes') }}" class="btn btn-custom-green", style="padding: 24px 48px; font-size: 32px, align = centre;">Rezepte</a>
      </a>
    </div>

    <ul class="todo-list">
          {% for todo in todos %}
            <li class="todo-item">
              <form action="/complete" method="POST" class="todo-complete-form">

                <input type="hidden" name="id" value="{{ todo.id }}">

                <!-- Checkbox triggert Submit -->
                <input
                  type="checkbox"
                  class="todo-checkbox"
                  id="todo-{{ todo.id }}"
                  name="complete"
                  value="1"
                  onchange="this.form.submit()">

                <label for="todo-{{ todo.id }}" class="todo-content">
                  {{ todo.content }}
                  <span class="todo-date">📅 {{ todo.due.strftime('%d.%m.%Y %H:%M') }}</span>
                </label>
              </form>
            </li>
          {% else %}
            <div>Nichts zu tun🎉</div>
          {% endfor %}
        </ul>

      <div class="todo-form">
        <form action="." method="POST">
          <div class="form-group">
            <label for="contents">TODO</label>
            <input type="text" id="contents" name="contents" class="form-control"
              placeholder="Neues TODO eingeben…" required />
          </div>

          <div class="form-group">
            <label for="due_at">Fällig am</label>
            <input id="due_at" name="due_at" type="datetime-local" class="form-control" required>
            <p class="help-block">Wähle Datum & Uhrzeit (z. B. 07.11.2025 14:30).</p>
          </div>

          <button type="submit" class="btn btn-primary">Hinzufügen</button>
        </form>
      </div>
{% endblock %}

      